
services:
  server:
    build:
      context: .
    env_file:
      - ./.env
    ports:
      - "${APP_PORT:-9000}:9000"
    restart: always
    volumes:
      - ./model:/mnt/model
      - ./router:/mnt/router
      - ./util:/mnt/util
      - ./alembic:/mnt/alembic
      - ./app.py:/mnt/app.py
      - ./secret:/mnt/secret
      - ./static:/mnt/static
      - ./secret/database.pem:/etc/ssl/certs/database.pem:ro
    environment:
      SERVICE_NAME: "amara-server"
    networks:
      - shared-db

networks:
  shared-db:
    external: true
    name: shared-db